<style>
  @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap');
</style>
<div class="jumbotron banner text-center jumbotron-fluid">
  <h1>Queen</h1>
  <p>All about the world's most influential rock band.</p>
</div>