{% extends '_templates/base.njk' %}

{% block page_title %}Home{% endblock %}
<style>
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
</style>

{% block page_description %}All about Queen, the members, their rise to fame and their discography.{% endblock %}

{% block content %}
<div class="container">
    <h2 class="intro">All things Queen: members, discography and more. </h2>
    <p>Formed in London in 1970, Queen is a break-through rock band with 15 albums under their belt. Four members make up the line-up: Freddie Mercury (lead vocals, piano), Brian May (guitar, vocals), Roger Taylor (drums, vocals) and John Deacon (bass). From the beginning, they have been known for their unique instrumentation and progressive rock sound. From sold-out arenas to movie soundtracks, Queen has done it all.</p>
  <div class="row">
  {% for member in queen.members %}
    <div class="col-lg-3">
      <img src="img/members/{{ member.slug }}-color.jpg" alt="" class="img-fluid">
      <h3 class="members"> <a href="member/{{ member.slug }}.html"> {{ member.name }} </a></h3>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}