{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ name }}{% endblock %}
<style>
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
</style>

{% block page_description %}{{ title }} Members {% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="../img/members/{{ imagebw }}" alt="queen member" class="img-fluid mb-4">
      </div>
      <div class="col-sm-8">
        <h1 class="name"> {{ name }} </h1>
        <p class="info"> {{ instruments }} {{ tenure }} </p>
        <p class="origin"> Born: {{ birthplace }} {{ birthdate }} </p>
        <p> {{ description | safe }} </p>
      </div>
    </div>
  </article>
{% endblock %}
