@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

.name {
  font-family: 'Cinzel';
  font-style: medium 500;
}

.info, .origin {
  font-family: 'Cinzel';
  font-style: medium 500;
  font-size: 1rem;
}

