@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

.title {
  font-family: 'Cinzel';
  font-style: medium 500;
}

.card-title, .card-text {
  font-family: 'Cinzel';
  font-style: medium 500;
  font-size: 1rem;
}