.jumbotron.banner {
  background: url(../img/queen-band-early.jpg) no-repeat center;
  background-size: cover;
  color: rgb(237, 237, 243);
  padding-top: 12rem
}

.jumbotron {
  margin-bottom: 30px;
}