@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');


.jumbotron.banner {
  background: url(../img/queen-live-on-stage.jpg) no-repeat center;
  background-size: cover;
  color: rgb(238, 228, 206);
  padding-top: 12rem;
  font-family: 'Cinzel';
  font-weight: bold;
}

.jumbotron {
  margin-bottom: 30px;
}

.main {
  font-size: 4rem;
  font-weight: bold;
}